#resume{
	float:left;
}
@font-face { 
	font-family: "JosefinBold"; 
	src: url("JosefinSans-Bold.ttf"); 
}

@font-face { 
	font-family: "Josefin"; 
	src: url("JosefinSans-SemiBold.ttf");  
}

@font-face {
	font-family: "NewAthena"; 
	src: url("new_athena_unicode.ttf"); 
}
	
@font-face {
	font-family: "JosefinItalic"; 
	src: url("JosefinSans-SemiBoldItalic.ttf"); 
}

body{
	background-color: white;
}

/* unvisited link */
a{
	font-family: "JosefinBold";
	text-decoration: none;
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #D87BB2;
}

/* selected link */
a:active {
    color: black;
}

#TitleLink{
	font-size: 30pt;
}

h1{
	font-family: "NewAthena";
	text-align: left;
	font-size: 40pt;
	margin-bottom: 10px;
}

h2{
	text-align: right;
	margin-bottom: 10px;	
	font-family: "Josefin";
	margin-top: 100px;
}

#main{
	font-family: "Josefin";
	width: 100%;
	font-size: 14pt;
	clear: left;
}

#nav{
	width: 447px;
	font-size: 24pt;
	float: right;
	padding-bottom: 40px;
}

h1{
	font-family: "NewAthena";
	text-align: left;
	font-size: 70pt;
	margin-bottom:25px;
	margin-top: 0px;
}

#name{
	margin-bottom: 0px;
}

#heading{
	float:left;
	margin-bottom: 15px;
}

#molly{
	margin-right: auto;
	margin-left: auto; 
}

#pictain{
	float: right;
	width: 60%;
}

#title2{
	width: 50%;
	float: right;
}

hr{
	width: 100%;
	margin-bottom: 25px;
}

#last{
	border-right: none; 
}


#current{
	background-color: #d3d3d3;
	border-bottom: 1px solid black;
}

h3{
	font-size: 18pt;
	text-decoration: underline;
	text-align: center;
}

#list{
	list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "JosefinBold";
    text-decoration: none;
    border-top: 2px black solid;

}

.navbar{
	display: block;
	float: right;
	padding: 8px;
	border-right: 1px solid black;
}

h3{
	font-family: "JosefinBold";
}